<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <call><%= @product.name %></call>
</p>

<p>
  <strong>Description:</strong>
  <call><%= @product.description %></call>
</p>

<p>
  <strong>Price:</strong>
  <call><%= @product.price %></call>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
